{% extends 'DevBieresSpecsDummyViewBundle::document.layout.html.twig' %}

{% block doc_content %}
<h3> {{ 'action.edit'|trans }} {{ 'fonction.title'|trans }} </h3>
<div class="row" >
    <div class="col-md-12" >
        {% include (
             'DevBieresCommonBundle:form:Form.html.twig'
            ) %} 
    </div>
</div>
{% endblock %}

