{% extends 'DevBieresSpecsDummyViewBundle::document.layout.html.twig' %}


{% block doc_content %}
<div class="row" >
   <div class="col-md-12 text-right" >
       <a class="btn btn-primary" 
              href="{{ path('actor_new', { 'docid': document.id }) }}"
		> 
			{{ 'plus'|ico }} 
        </a>
   </div>
</div>
<div class="row" >
   <div class="col-md-12" >
        {{ 
           include('DevBieresSpecsDummyViewBundle:Actor:list.html.twig',
                         {
                              cols : cols
                         }
            )
        }}
   </div>
</div>

{% endblock %}
